*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}  
    body{
        background-color: rgb(94, 79, 109);
    }
    main{
        background-color: white;
        margin: auto;
    }
